<%- include("partials/header.ejs") %>
<main>

<div class="container px-20">
<a href="/?q=rating">Rating</a>
<a href="/?q=author">Author</a>
<a href="/">Added</a>


<% for (var i = 0; i < books.length; i++) { %> 
  <div class="clear-both py-16">
      <div <% if (i % 2 === 0) { %> class="float-left" <%} else { %> class="float-right" <% } %>>
      <img  class= "rounded" src= <%="https://covers.openlibrary.org/b/isbn/" + JSON.parse(books[i].book_isbn) + "-M.jpg" %> >
    </div>
    <div <% if (i % 2 === 0) { %> class="text-right" <%} else { %> class="text-left" <% } %>>
      <h3><%= books[i].title%></h3>
      <h3><%= books[i].author%></h3>
      <h3><%= books[i].notes%></h3>
      <h3><%= books[i].rating%></h3>
    </div>
  <form method="POST" action="/edit" <% if (i % 2 === 0) { %> class="float-right" <%} else { %> class="float-left" <% } %>>
    <input type="hidden" name="bookId" value=<%= JSON.parse(books[i].id) %>>
    <input type="submit" value="Edit"></form>
    <br>
  <form method="POST" action="/delete" <% if (i % 2 === 0) { %> class="float-right" <%} else { %> class="float-left" <% } %>>
    <input type="hidden" name="bookId" value=<%= JSON.parse(books[i].id) %>>
    <input type="submit" value="Delete"></form>
  </div>

  <%}%>

</div>

</main>
<!--
TODO: Format the data to present well tailwind--
TODO: Add sorting links
TODO: Separate the float class stuff into a separate script.js file. use the id function and label them using the i variable-->

<%- include("partials/footer.ejs") %>
