<%- include("partials/header.ejs") %>
<div>
  <form <% if (locals.books) {%> action="update" <% } else { %> action="/add" <% } %> method="POST">
        <input type="text" name="author_fname" placeholder="John" value=<%= locals.books ? locals.books[0].author_fname : '' %>>
        <label for="author_fname">Author First Name</label>
        <input type="text" name="author_lname" placeholder="Smith" value=<%= locals.books ? locals.books[0].author_lname : '' %>>
        <label for="author_lname">Author Last Name</label>
        <input type="text" name="title" placeholder="A Fantastic Book" value=<%= locals.books ? locals.books[0].title : '' %>>
        <label for="title">Book Title</label>
        <textarea rows="5" cols="33" name="notes"><%= locals.books ? locals.books[0].notes : 'Put your notes here!' %></textarea>
        <div class="rating">
            <% for (let i = 5; i >= 1; i--) { %>
                <input type="radio" id="star<%= i %>" name="rating" value="<%= i %>" <%= locals.books && locals.books[0].rating == i ? 'checked' : '' %>>
                <label for="star<%= i %>"><%= i %></label>
            <% } %>
        </div>
        <div>
            <label for="rating">Rating</label>
        </div>
    <% if (locals.books) { %><input type="hidden" value=<%= locals.books[0].id %> name="id"> <%}%>
        <input type="submit" name="submit">
    </form>
</div>

<% if (locals.error) {%>
<h2><%= error%></h2>
<% } %>
<%- include("partials/footer.ejs") %>

